<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="footer">
        <ul class="footer-menushare">
            <li><a href="#" ><span class="hidden"></span><img class="icon" src="/static/img/facebook_logo.png" alt=""></a></li>
            <li><a href="#" ><span class="hidden"></span><img class="icon" src="/static/img/twitter_logo.png" alt=""></a></li>
            <li><a href="#" ><span class="hidden"></span><img class="icon" src="/static/img/g+_logo.png" alt=""></a></li>
        </ul>

        <p>Copyright @2020 Saúde Fácil</p>
    </footer>
</body>
</html>